.color {
    background: linear-gradient(#E8B4B4, #FFFFFF);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.divLine {
    height: 29px;
    background-color: #3F3F3F;
}

.botColor {
    background-color: #fed0c6;
}


.priLink {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 65px 0;
    padding-top: 150px;
    height: 523px;
    width: 439px;
    background-color: white;
    border-radius: 50px;
}

.spanText {
    display: flex;
    flex-direction: column;
    width: 281px;
    padding-bottom: 98px;
}

.spanText span {
    font-weight: 700;
    font-size: 700;
    color: black;
}

.DivImg {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: flex-end;
    padding-top: 59px;
    width: 359px;
}

.fSpan {
    font-size: 32px;
    font-weight: 600;
    color: black;
}