.container {
    max-width: 1440px;
    margin: 0 auto;
}

.SwiperImg {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 617px;
    height: 544px;
    background-color: #DA6264;
    border-radius: 58px;
    margin-top: 179px;
} 

.backColorF {
    background-color: #BFDCDB;
}

.backColorS {
    background-color: #848EC7;
}

.Div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 426px;
}

.Div span {
    font-weight: 600;
}

.text {
    color: black;
    display: flex;
    width: 438px;
    font-weight: 700;
    font-size: 32px;
}

.swiperSlide {
    margin-bottom: 103px;
}